@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    width: 768px;
    margin: auto;
    background-color: hsl(180,80%,8%);
    color: hsl(180,80%,80%);
    font-family: "Roboto", sans-serif;
    font-size: 1.5em;
    font-weight: 300;
}
h1{
     font-weight: 300;
}

#caja{
    margin: 32px;
    padding: 24px;
    width: 216px;
    height: 216px;
    background-color: hsl(0, 0%, 67%);
    border-radius: 12px;
    color: #fff;
    transition: 500ms;
}
#cajaTexto, 
#cajaTexto2
{
    background-color: hsl(180,80%,4%);
    border-radius: 12px;    
    padding: 20px 32px;
    font-size: 2em;
}

#navegacion{
    margin: 24px 12px;
}
    #navegacion a{
        background-color: hsl(150,60%,50%);
        padding: 8px 24px;
        border-radius: 12px;
        text-decoration: none;
        color: hsl(180,80%,8%);
        transition: 300ms;
    }
    #navegacion a:hover{
        background-color: hsl(150,60%,60%);
        /*box-shadow: ejeX ejeY blur color; */
        box-shadow: 0px 0px 8px hsl(150,60%,60%);
    }

#rotador{
    background-color: hsl(180,80%,4%);
    border-radius: 12px;    
    padding: 20px 32px;
    font-size: 2em;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
    #rotador img{
        filter: invert();
        cursor: pointer;
        transition: 500ms;
    }
    #rotador img:hover{
        transform: scale(1.3);
    }